doctype html
html 
    head 
        title Overallfit Gym
        block scripts 
        block style 
        body 
            nav#logo 
                div#logo_div
                    img(src="/static/img/logo.jpg")
            nav#navbar 
                ul 
                    li #[a(href="/") Home] 
                    li #[a(href="/classes") Classes] 
                    li #[a(href="/membership") Membership] 
                    li #[a(href="/offers") Offers] 
                    li #[a(href="/carrers") Carrers] 
                    li #[a(href="/feedbacks") Feedback] 
            block content 
            footer#footer 
                div.aboutfooter 
                    p#footerhead About Overallfit Gym 
                    p Address: Shop No:23/24 , Poonam Housing Society 
                    p SH Patil Road, Near Shri Radhakrishna Temple,
                    p Vile Parle(West), Mumbai 400056
                    p Email: overallfit2b@gmail.com
                div.coyrightfooter 
                    p Copyright © 2023 All Rights Reserved with Overallfit Gym 