extends base.pug 

block style 
    style 
         include ../static/css/style.css 
         include ../static/css/styleClasses.css 
block content 
    section#oursClassesSection
        p.paraOurClasses Our Classes
        div.classes_card
            div.classes_box 
                div.classes-content 
                    p.classes-content.heading  Aerobics
                div.classes-img 
                    img(src="/static/img/exercise1.jpg")
                div.classes-content 
                    div.classes-content.para
                        p.classes-content.para1 Aerobics is a form of Physical exercise that combines rhythmic aerobic exercise with stretching and strength training
                        p.classes-content.para2 routines with the goal of improving all elements of fitness (flexibility, muscular strength, and cardio-vascular fitness). It is usually performed to music and may be practiced in a group setting led by an instructor (fitness professional), although it can be done solo and without musical accompaniment. With the goal of preventing illness and promoting physical fitness, practitioners perform various routines comprising a number of different dance-like exercises. Formal aerobics classes are divided into different levels of intensity and complexity and will have five components: warm-up (5–10 minutes), cardiovascular conditioning (25–30 minutes), muscular strength and conditioning (10–15 minutes), cool-down (5–8 minutes) and stretching and flexibility (5–8 minutes). Aerobics classes may allow participants to select their level of participation according to their fitness level. Come and Join us to experience this joyness
                        div.classes-content-link
                            a(href="/membership") Register now
        hr 
        div.classes_card
            div.classes_box 
                div.classes-content 
                    p.classes-content.heading  Yoga
                div.classes-img 
                    img(src="/static/img/exercise2.jpg")
                div.classes-content 
                    div.classes-content.para
                        p.classes-content.para1 Yoga is a group of physical, mental, and spiritual practices or disciplines which originated in ancient India 
                        p.classes-content.para2 aim to control (yoke) and still the mind, recognizing adetached witness-consciousness untouched by the mind (Chitta) and mundane suffering (Duhkha). There is a wide variety of schools of yoga, practices, and goalsin Hinduism, Buddhism, and Jainisim and traditional and modern yoga is practised worldwide.The Term "Yoga" in western world often denotes a modern form of Hatha yoga and a posture based physical fitness, stress-relief and relaxation Techique, consisting largely of asanas, this differs from Traditional Yoga which focus on meditation and releases from world attachments.We are Expert in Traditional One 
                        div.classes-content-link
                            a(href="/membership") Register now
        hr 
        div.classes_card
            div.classes_box 
                div.classes-content 
                    p.classes-content.heading Reward Classes
                div.classes-img 
                    img(src="/static/img/exercise5.jpg")
                div.classes-content 
                    div.classes-content.para
                        p.classes-content.para1 You might be thinking what is this new type of classes called as Reward Classes, well Gyming is a tough work
                        p.classes-content.para2 and maintaining discipline is next level of tough work, So in reward classes the best candidate who has maintained 100% attendance rate gets 15 days of free Gym Usage i.e No Subscription. So Come Join us and showus your Discipline 
                        div.classes-content-link
                            a(href="/membership") Register now
        hr 
        div.classes_card
            div.classes_box 
                div.classes-content 
                    p.classes-content.heading  Zumba
                div.classes-img 
                    img(src="/static/img/exercise3.jpg")
                div.classes-content 
                    div.classes-content.para 
                        p.classes-content.para1 Zumba is a fitness  program that involves cardio and Latin-inspired dance. It was founded by Colombian dancer and choreographer 
                        p.classes-content.para2 Beto Pérez in 2001, It currently has 200,000 locations, with 15 million people taking classes weekly, and is located in 180 countries.Zumba is a trademark owned by Zumba Fitness, LLC.The music combines the dance styles of cumbia, salsa,merengue, mambo,flamenco , chachacha, reggaeton, soca, samba, hip hop music, axé music, and tango.
                        div.classes-content-link
                            a(href="/membership") Register now
        hr 
        div.classes_card
            div.classes_box 
                div.classes-content 
                    p.classes-content.heading  Circuit Training
                div.classes-img 
                    img(src="/static/img/exercise4.jpg")
                div.classes-content 
                    div.classes-content.para
                        p.classes-content.para1 Circuit training is a form of body conditioning that involves endurance training, resistance training, high-
                        p.classes-content.para2 intensity aerobics, and exercises performed in a circuit, similar to high-intensity interval training. It targets strength building and muscular endurance. An exercise "circuit" is one completion of all set exercises in the program. When one circuit is completed, one begins the first exercise again for the next circuit. Traditionally, the time between exercises in circuit training is short and often with rapid movement to the next exercise.Come Join Us to experience it, We are waiting for you
                        div.classes-content-link
                            a(href="/membership") Register now
        